<h1>Dashboard</h1>
<a href="/account/signout">Exit</a>
<p><%= user.user.email %></p>
<p><%= user.user.name %></p>
<p><%= user.user.phone %></p>
<p><%= user.user.username %></p>
<p><%= user.user.id %></p>